* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

.flag-contianer {
    width: 50%;
    margin: auto;
    display: flex;
    text-align: center;
    justify-content: center;
}

.green {
    width: 100px;
    height: 200px;
    background-color: green;
}

.white {
    width: 100px;
    height: 200px;
    background-color: white;
}


/* media query starts here */

@media screen and (max-width: 720px) {
    body {
        background-color: white;
    }
    .green {
        width: 100px;
        height: 200px;
        background-color: red;
    }
    .white {
        width: 100px;
        height: 200px;
        background-color: black;
    }
}